<style>
  #edit-container
{
	float : left;
	    margin-left: 4%;
    margin-top: 4%;

}




#dp
{
	padding: 0.25rem;
    background-color: #FCFCFC;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    max-width: 40%;
    height: 115px;
    position: relative;
    margin-bottom: 11px;
}

.d-flex {
  /*  display: -webkit-box!important; */
  /*  display: -ms-flexbox!important; */
    display: flex!important;
}

.dg-con
{
	display : flex;
}

body
{
	padding: 0;
	margin: 0;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	color : #333439;
	line-height: 1.42857143;
	/* overflow-y: hidden; */
}
.card-body
{
	-webkit-box-flex: 1;
   /* -ms-flex: 1 1 auto; */
    flex: 1 1 auto;
    padding: 1.25rem;
}

.image-container {
    position: relative;
}

.img-thumbnail {
    padding: 0.25rem;
    background-color: #FCFCFC;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    max-width: 100%;
    height: auto;
	display: inline-block;
	line-height: 1.42857143;
	transition: all .2s ease-in-out;

}

.allSidesSoft {
    box-shadow: 0 3px 10px 0 rgba(115,143,147,.3);
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
</style>




<div class='container'>
  <div style="margin-top:80px;">
    <div class="col-12">
          <div class="card allSidesSoft">
              <div class="card-body">
                <div class="d-flex">


				 <div class="image-container">
                         <img src="<%= data[0].photoname %>" id="desktop-dp">
                  </div>
					  <form action="/upload" enctype="multipart/form-data" method="POST">
                             <input type="file" name="myImage" accept="image/*" />
                             <input type="submit" value="Upload Photo"/>
                     </form>


                </div>

                <br />

                  <div class="panel-group">
                    <!--Form panel-->
                    <div class="panel panel-default editUserPanel">
                      <div class="panel-heading">Basic Info</div>
                        <div class="panel-body">
                            <div class="form-group">
                                    <label>Email :</label>
                                    <input type="text"  value= <%= data[0].email %> class="form-control" name="username"   />
                            </div>
                            <div class="form-group">
                                <label>Name :</label>
                                <input type="text" value= <%= data[0].username %> class="form-control" id="fullname" autocomplete="off" required />
                            </div>
                            <div class="form-group col-sm-5" style="padding:0">
                                <label>DOB :</label>
                                <input class="form-control dobDate" id="date" value= <%= data[0].dob %> name="dob" placeholder="DD-MM-YYYY" type="text" autocomplete="off" required />
                            </div>
                            <div class="form-group col-sm-5 col-sm-push-2" style="padding:0">
                                    <label>Gender :</label>
                                    <select name="gender" class="form-control">
                                        <optgroup label="Select Gender">

                                        <option value="male" >Male</option>



                                        <option value="female" selected>Female</option>



                                        <option value="transgender">Transgender</option>

                                    </optgroup>
                                    </select>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default editUserPanel">
                      <div class="panel-heading">Contact Info</div>
                        <div class="panel-body">
                          <div class="form-group">
                                  <label>Phone :</label>
                                  <input type="text" value= <%= data[0].phoneNo %> class="form-control" id="phoneNo" maxlength="10" required />
                          </div>
                          <div class="form-group">
                                  <label>City :</label>
                                  <input type="text" value= <%= data[0].city %> class="form-control" id="city" required />
                          </div>
                        </div>
                      </div>

                      <div class="panel panel-default editUserPanel">
                        <div class="panel-heading">Personal Info</div>
                          <div class="panel-body">

                            <div class="form-group">
                              <label>Interests :</label>
                              <div class="tag-conatiner-custom-div">
                                <select id="interestsEditor" name='interests' class="form-control input-sm select2-multiple" style="width:100%" multiple>
                                  <!--Tags option appended here-->




                                </select>
                              </div>
                            </div>

                            <div class="form-group">
                                    <label>Tell us a bit more about your journey:</label>
                                    <textarea type="text" class="form-control" id="aboutjourney"></textarea>
                            </div>

                            <div class="form-group">
                                    <label>What are your expectations from the communities?</label>
                                    <textarea type="text" class="form-control" id="comExpectations"></textarea>
                            </div>

                          </div>
                        </div>

                      <br />

                      <div class="container">

                              <button type="button" id="cp" class="btn btn-warning pull-left " style="margin:1px">Change Password</button>

                              <button type="button" id="cancel" class="btn btn-danger pull-right " style="margin:1px">Cancel</button>
                              <button type="button" id="submit" class="btn btn-primary pull-right " style="margin:1px" >Update</button>
                      </div>

                    </div>

              </div>
         </div>
      </div>
  </div>
</div>



</body>
<script>
  var n_name = document.getElementById("fullname");
  var n_dob = document.getElementById("date");
  var n_phone = document.getElementById("phoneNo");
  var n_city = document.getElementById("city");
  var changePswd = document.getElementById("cp");
  var cancel_btn = document.getElementById("cancel");
  var submit_btn = document.getElementById("submit");

  submit_btn.onclick = function()
  {
  	//alert("s clicked");
  	var ob = new Object();
  	ob.username = n_name.value;
  	ob.dob = n_dob.value;
  	ob.phoneNo = n_phone.value;
  	ob.city = n_city.value;

  	var request = new XMLHttpRequest();
  	request.open('PUT','/adminEdit');
  	request.setRequestHeader("Content-Type","application/JSON");
      request.send(JSON.stringify(ob));
  	request.onload=function()
  	{
  			window.location='/edit'
  	}
  }

  cancel_btn.onclick = function()
  {
  	//alert("c clicked")
  	window.location='/edit'
  }

  changePswd.onclick = function()
  {
  	//alert("p clicked")
  	window.location='/changepassword'
  }
</script>
